/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.text-marquee {
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .logos-wrap {
    width: max-content;
    animation: scroll 20s linear infinite;
  }
}
@media only screen and (min-width: 1024px) {
  .logos-wrap {
    width: max-content;
    animation: scroll 60s linear infinite;
  }
}
